{% extends 'index.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<section class="py-5 d-flex align-items-center" style="min-height: 100vh; background: linear-gradient(to right, #00188F, #FF6692);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="login-container glass-card p-4">
                    <h3 class="text-center mb-4 text-white">User Login</h3>
                    <form method="post">
                        <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" /> 
                        <div class="mb-3">
                            <label for="username" class="form-label text-white">Username</label>
                            {{ form.username(class='form-control') }}
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label text-white">Password</label>
                            {{ form.password(class='form-control') }}
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="rememberMe">
                            <label class="form-check-label text-white" for="rememberMe">Remember me</label>
                        </div>
                        {{ form.submit(class='btn btn-primary w-100', style='background: linear-gradient(to right,#FF6692,#00188F); border: none;') }}
                    </form>
                    <div class="text-center mt-3">
                        <a href="{{ url_for('register_page') }}" class="text-white">Not having an account? Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    body{
        background: linear-gradient(to right, #00188F, #FF6692);
    }

    .glass-card {
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        border-radius: 15px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.3);
        color: white;
    }
    .form-control {
        background: rgba(255, 255, 255, 0.3);
        border: none;
        color: white;
    }
    .form-control:focus {
        background: rgba(255, 255, 255, 0.5);
        color: black;
        border: none;
    }
    .form-check-input {
        background-color: rgba(255, 255, 255, 0.5);
    }
</style>
{% endblock %}