{% extends 'index.html' %}
{% block title %}Stock-Data{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container">
        <h3 class="text-center text-dark fw-bold mb-4">Reports</h3>
        <div class="table-responsive report-table p-3">
            <table class="table table-hover text-center align-middle">
                <thead class="table-primary">
                    <tr>
                        <th>S.no</th>
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>Price/Unit</th>
                        <th>Total Price</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody class="text-dark">
                    {% for report in reports %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ report.name }}</td>
                        <td>{{ report.quantity }}</td>
                        <td>₹ {{ report.price }}</td>
                        <td>₹ {{ report.price * report.quantity}}</td>
                        <td>{{ report.time.strftime('%m-%d-%Y') }} - {{ report.time.strftime('%H:%M') }}</td>
                    </tr>  
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-around container-sm pdf">
        {% if current_user.role == 'admin' %}  
            <form action="{{ url_for('get_pdf')}}" method="POST" style="display: inline;" onsubmit="setTimeout(function(){ location.reload(); }, 1000);">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button type="submit" class="btn btn-success btn-sm">Get PDF</button>
            </form>
        {% endif %}
    </div>
</section>

<style>  
    body {
        background: linear-gradient(to right, rgba(50, 50, 150, 0.7), rgba(100, 100, 200, 0.7));
        color: black;
    }

    .report-table {
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border: 1px solid rgba(0, 0, 0, 0.3);
    }

    .table-hover tbody tr:hover {
        background: rgba(0, 123, 255, 0.2) !important;
        transition: background 0.3s ease-in-out;
    }

    .btn-success {
        font-size: 14px;
        transition: all 0.3s ease-in-out;
    }
    .btn-success:hover {
        background: #218838;
    }

    .pdf {
        margin-top: 25px;
    }

    @media (max-width: 768px) {
        .report-table {
            box-shadow: none;
        }
    }
</style>
{% endblock %}
